<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.ssm.mapper.info.TBidrequestMapper">
    <resultMap id="TBidrequestRow" type="com.zking.ssm.model.info.TBidrequest">
        <id column="bid_id" property="bidId" javaType="java.lang.Integer"/>
        <result column="version" property="version" javaType="java.lang.Integer"/>
        <result column="returnType" property="returnType" javaType="java.lang.Integer"/>
        <result column="bidRequestState" property="bidRequestState" javaType="java.lang.Integer"/>
        <result column="bidRequestType" property="bidRequestType" javaType="java.lang.Integer"/>
        <result column="bidRequestAmount" property="bidRequestAmount" javaType="java.math.BigDecimal"/>
        <result column="currentRate" property="currentRate" javaType="java.lang.String"/>
        <result column="monthesReturn" property="monthesReturn" javaType="java.lang.Integer"/>
        <result column="bidCount" property="bidCount" javaType="java.lang.Integer"/>
        <result column="totalRewardAmount" property="totalRewardAmount" javaType="java.math.BigDecimal"/>
        <result column="currentSum" property="currentSum" javaType="java.math.BigDecimal"/>
        <result column="title" property="title" javaType="java.lang.String"/>
        <result column="description" property="description" javaType="java.lang.String"/>
        <result column="note" property="note" javaType="java.lang.String"/>
        <result column="createuser_id" property="createuserId" javaType="java.lang.Integer"/>
        <result column="disableDays" property="disableDays" javaType="java.lang.Integer"/>
        <result column="minBidAmount" property="minBidAmount" javaType="java.math.BigDecimal"/>
        <result column="applyTime" property="applyTime" javaType="java.util.Date"/>
        <result column="publishTime" property="publishTime" javaType="java.lang.String"/>
        <result column="pro_name" property="proName" javaType="java.lang.String"/>
    </resultMap>
    <update id="updatebid" parameterType="com.zking.ssm.model.info.TBidrequest">
        update t_bidrequest
        <set>
            <if test="bidRequestState != null and bidRequestState != ''">
                bidRequestState = #{bidRequestState}
            </if>
        </set>
        where bid_id = #{bidId};
    </update>

    <select id="sellctBidRequest" resultMap="TBidrequestRow">
      select * from t_bidrequest where createuser_id=#{createuserId}
    </select>

    <select id="listTBidrequestPage" resultMap="TBidrequestRow">
        select b.*,p.pro_name from t_bidrequest b,t_producttable p
        <where>
                b.bidRequestType=p.pro_id and b.bidRequestState=#{bidRequestState}
                <if test="bidRequestType != null and bidRequestType !=''">
                    and bidRequestType = #{bidRequestType}
                </if>
                <if test="monthesReturn != null and monthesReturn != ''" >
                    and monthesReturn = #{monthesReturn}
                </if>
                <if test="bidRequestState != null and bidRequestState != ''">
                    and bidRequestState = #{bidRequestState}
                </if>
        </where>
    </select>
    <select id="getbidRequestTypeAll" parameterType="com.zking.ssm.model.info.TBidrequest" resultMap="TBidrequestRow">
           select bidRequestType FROM t_bidrequest
        <where>
            <if test="bidRequestType != null and bidRequestType != ''">
                and bidRequestType = #{bidRequestType}
            </if>
        </where>


    </select>
</mapper>