<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.ssm.mapper.info.TBidrequestMapper">

    <resultMap id="TBidrequestRow" type="com.zking.ssm.model.info.TBidrequest">
        <id column="bid_id" property="bidId" javaType="java.lang.Integer"/>
        <result column="version" property="version" javaType="java.lang.Integer"/>
        <result column="returnType" property="returnType" javaType="java.lang.Integer"/>
        <result column="bidRequestState" property="bidRequestState" javaType="java.lang.Integer"/>
        <result column="bidRequestType" property="bidRequestType" javaType="java.lang.Integer"/>
        <result column="bidRequestAmount" property="bidRequestAmount" javaType="java.math.BigDecimal"/>
        <result column="currentRate" property="currentRate" javaType="java.math.BigDecimal"/>
        <result column="monthesReturn" property="monthesReturn" javaType="java.lang.Integer"/>
        <result column="bidCount" property="bidCount" javaType="java.lang.Integer"/>
        <result column="totalRewardAmount" property="totalRewardAmount" javaType="java.math.BigDecimal"/>
        <result column="currentSum" property="currentSum" javaType="java.math.BigDecimal"/>
        <result column="title" property="title" javaType="java.lang.String"/>
        <result column="description" property="description" javaType="java.lang.String"/>
        <result column="note" property="note" javaType="java.lang.String"/>
        <result column="createuser_id" property="createuserId" javaType="java.lang.Integer"/>

        <result column="disableDays" property="disableDays" javaType="java.lang.Integer"/>
        <result column="minBidAmount" property="minBidAmount" javaType="java.math.BigDecimal"/>
        <result column="applyTime" property="applyTime" javaType="java.util.Date"/>
        <result column="publishTime" property="publishTime" javaType="java.util.Date"/>

        <association property="tProducttable" javaType="com.zking.ssm.model.info.TProducttable">
            <id column="pro_id" property="proId" javaType="java.lang.Integer"/>
            <result column="pro_name" property="proName" javaType="java.lang.String"/>
            <result column="money" property="money" javaType="java.lang.String"/>
            <result column="interest" property="interest" javaType="java.lang.String"/>
            <result column="time" property="time" javaType="java.util.Date"/>
            <result column="require" property="require" javaType="java.util.Date"/>
            <result column="scope" property="scope" javaType="java.lang.String"/>
            <result column="lineofcredit" property="lineofcredit" javaType="java.lang.String"/>
        </association>
        


    </resultMap>




    <select id="listTBidrequest" resultMap="TBidrequestRow">
--       select t1.bid_id,t1.returnType,t1.bidRequestType,
--              t1.bidRequestAmount,t1.currentRate,
--              t1.monthesReturn,t1.title,t1.createuser_id,
--              t2.pro_id,t2.pro_name from t_bidrequest
--              t1 INNER JOIN t_producttable t2 ON t1.bidRequestType = t2.pro_id


        select * from t_bidrequest b INNER JOIN t_producttable p where b.bidRequestType=p.pro_id

        <where>
            <if test="bidId != null and bidId != ''">
                and bid_id = #{bidId}
            </if>
        </where>


    </select>


    <select id="listTBidrequestPage" parameterType="com.zking.ssm.model.info.TBidrequest" resultMap="TBidrequestRow">

        select * from t_bidrequest b left JOIN t_producttable p on b.bidRequestType=p.pro_id


        /*select * from t_bidrequest b INNER JOIN t_producttable p on b.bidRequestType=p.pro_id*/

--          select t1.bid_id,t1.returnType,t1.bidRequestType,
--                       t1.bidRequestAmount,t1.currentRate,
--                       t1.monthesReturn,t1.title,t1.createuser_id,
--                       t2.pro_id,t2.pro_name from t_bidrequest
--                       t1 left JOIN t_producttable t2 ON t1.bidRequestType = t2.pro_id
--
        <where>
            <choose>
                <when test="bidRequestType != null and bidRequestType !=''">
                    and bidRequestType = #{bidRequestType}
                </when>
                <when test="currentRate != null and currentRate != ''" >
                    and currentRate = #{currentRate}
                </when>
                <when test="returnType != null and returnType != ''">
                    and returnType = #{returnType}
                </when>
               
            </choose>
        </where>




    </select>
    <select id="getbidRequestTypeAll" parameterType="com.zking.ssm.model.info.TBidrequest" resultMap="TBidrequestRow">
           select bidRequestType FROM t_bidrequest
        <where>
            <if test="bidRequestType != null and bidRequestType != ''">
                and bidRequestType = #{bidRequestType}
            </if>
        </where>


    </select>
</mapper>