<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.ssm.mapper.info.TProducttableMapper">
    <resultMap id="prodrow" type="com.zking.ssm.model.info.TProducttable">
        <id column="pro_id" property="proId" javaType="java.lang.Integer"/>
        <result column="pro_name" property="proName" javaType="java.lang.String"/>
        <result column="money" property="money" javaType="java.lang.String"/>
        <result column="interest" property="interest" javaType="java.lang.String"/>
        <result column="time" property="time" javaType="java.util.Date"/>
        <result column="require" property="require" javaType="java.util.Date"/>
        <result column="scope" property="scope" javaType="java.lang.String"/>
        <result column="lineofcredit" property="lineofcredit" javaType="java.lang.String"/>
    </resultMap>
    <select id="listprod" resultMap="prodrow">
         select  * from t_producttable
    </select>
</mapper>